body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    background-color: #fff8f0;
    margin: 0;  
    padding: 0;
    color: #000000;
}

header{
    text-align: center;
    background-color: #f2c880;
    padding: 20px;
}

header h1{
    margin: 0;
    font-size: 2.5em;
}

button{
    background-color: #9a6a19;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}

button:hover{
    background-color: #c5872b;
}

.user_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}   

.userCard{
    border: 2px solid #f2c880;
    margin: 10px;
    width: 250px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
    text-align: center;
    display: inline-block;
  padding: 10px;
  background: #ecd2a4a2;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}  

.userCard h2{
    margin-top: 0;
    color: #4c2d09;
}

.kitten-img{
    max-width: 100%;
  display: block;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}  

footer{
    text-align: center;
    padding: 15px;
    background-color: #f2c880;
    position: fixed;
    width: 100%;
    bottom: 0;
    /* added the following kyunki overlap ho raha tha */
    clear: both;      
    margin-top: 20px;  
    position: relative;
}
